/*票据详情界面*/

.form-horizontal .control-label {
    width: auto;
    padding-right: 0;
}

.preview-remit {
    width: 100%;
}

.progress {
    height: 20px;
}

.previewImg {
    height: 200px;
}

.douline {
    padding: 0 12px;
}

.douline p {
    font-size: 10px;
    line-height: 17px;
    height: 17px;
    margin-bottom: 0;
}
